@import url( 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './scss/variables';

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: 16px;
  color: $dark-blue;
  background-color: $body-background-color;

  * {
    box-sizing: border-box;
  }
}

.mat-button,
.mat-card {
  font-family: 'Open Sans', sans-serif;
}
